input.form-control, textarea.form-control {
  background: #fff;
  border: none;
  border-bottom: 1px solid $greyBorder;
   background:#f5f5f5;
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    background:#fff;
    border-bottom: 1px solid $greyBorder;

  }
}
.btn {
  &:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
  }
}
.form-group {
  label {
    display: block;
    margin-bottom: 6px;
    padding-left: 2px;
  }
}
#contactForm p {
  max-width: 360px;
}
