<template name="header">
  <header class="headervideo" style="background: transparent">
   <div class="header-container">
       <div class="headermenu">
         <div class="header-left">
           BUREAU<br>WEHRMANN
         </div>
         <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">News</a></li>
              <li><a href="/kontakt">Kontakt</a></li>
              {{#if currentUser }}
              <li><a href="/admin" target="_blank">Admin</a></li>
              {{/if}}
             </ul>
          </nav>
      </div>
    </div>
<!--
    <div class="centered-v">
      <h1><a href="{{ pathFor 'base' }}">{{ dict 'siteName' 'Orion Starter'}}</a></h1>
      <h5>{{ dict 'siteDescription' }}</h5>
    </div>
-->
  </header>
</template>
