<template name="notFound">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <div class="not-found">
        <center>
            <h1 class="error4o4">
            ox<span style="color:#ff0000;">x</span><br>
            o<span style="color:#ff0000;">x</span>o<br>
            <span style="color:#ff0000;">x</span>ox</h1>
            <p style="margin-bottom:5em; margin-top:4em;">Oh! Die Seite konnte nicht gefunden werden. Fehler 404.<br>Am besten, Sie schicken uns Ihre Anfrage direkt.</p>
        </center>
  </div>
</template>
